@import 'mixins.scss';

.header {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding-right: 150px;
    padding-left: 150px;
    height: 96px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


    &__main {
        flex-grow: 1;
        @include centerable;
    }
}