.stories{
    height: 100vh;

    background: url(../assets/backgroundfish.jpg) no-repeat, center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__list{
        margin-top: 32px;
        margin-bottom: 50px;

        display: flex;
        align-items:center;
        justify-content: space-around;

    }

    &__card{
        position: relative;

        list-style: none;

        display: flex;

        width: 23%;

        &--middle{
            width: 27%;
        }

        &_text{
            font-family: 'Lato';
            font-size: 14px;

            padding:4px 8px;
            
            text-transform: uppercase;
            
            color: #FFFFFF;
            background: rgba(0, 0, 0, 0.85);
        }
    }
}

.play{
    font-family: 'icomoon';
    color: white;
    font-size: 34px;
    font-style: normal;
}

.play--wrapper{
    position: absolute;
    
    right: 50%;
    left: 50%;
    top: 50%;
    bottom:50%;
}

.text--wrapper{
    position: absolute;
    left: 2%;
    top: -2%;
}

.stories-pfoto{
    width: 100%;
}